body {
    background-color: blanchedalmond;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
    color: darkmagenta;
}

header p {
    text-align: center;
    width: 80%;
}