body {
    background-color: blanchedalmond;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
    color: darkmagenta;
    text-align: center;
}

h2 {
    background-color: #13293d;
    color: ghostwhite;
    padding: 10px;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
}

header p {
    text-align: center;
    width: 80%;
}

.card {
    background-color: navajowhite;
    border-radius: 20px;
    margin: 5px;
}

.card p {
    margin: 10px;
}

#snippetCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: "flexRow flexColumn cssGrid"
                            "linearGradient boxTransition overlayCard";
}

#flexRow {
    grid-area: flexRow;
}

#flexColumn {
    grid-area: flexColumn;
}

#cssGrid {
    grid-area: cssGrid;
}

#linearGradient {
    grid-area: linearGradient;
}

#boxTransition {
    grid-area: boxTransition;
}

#overlayCard {
    grid-area: overlayCard;
}

pre {
    white-space: pre-wrap;
    line-height: 1.5em;
    background: linear-gradient(45deg, rebeccapurple 0%, #e670ab 100%);
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 10px;
    user-select: all;
}

.card:hover,
.card:hover pre {
    box-shadow: inset 0px 0px 8px white, 0px 0px 15px black;
}

.card:hover h2 {
    font-size: 1.8em;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#flexColumn pre {
    padding: 30px 10px;
}

#linearGradient pre {
    padding: 3em 10px;
}

#overlayCard pre {
    padding: 5em 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    #snippetCards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.5fr 1.5fr;

        grid-template-areas: "flexRow flexColumn"
                            "cssGrid linearGradient"
                            "boxTransition overlayCard";
    }

    header p {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #snippetCards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr;

        grid-template-areas: "flexRow"
                            "flexColumn"
                            "cssGrid"
                            "linearGradient"
                            "boxTransition"
                            "overlayCard";
    }

    header p {
        width: 90%;
    }
}